.bold {
    font-weight: bold;
}

label,
input {
    display: none;
}

body {
    background: #DDAF94;
    justify-content: center;
    align-items: center;
    font: 24px/1.4 "RobotoDraft", sans-serif;
    color: #fff;
}

button {
    margin-left: 300px;
    width: 20%;
    padding: 10px;
    border: none;
    background: #266150;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}